# ***Movie Recommender System***

It is the combination of both Content Based Filtering and as well as Collaberative based Filtering.

This is ***consolidated form*** of all the EDA for our recommendation system.

***`This is how it will work:`***

   **Input:** 
        Pass any of the below parameters in to get 

        1.   User ID
        2.   The Genre of Movie
        3.   The Title of a Movie
        4.   Top N number of Movies



   **Output:** 
        Similar movies sorted on the basis of expected ratings by that particular user.

In [1]:
# importing basic packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

import warnings

warnings.filterwarnings("ignore")

In [2]:
! pip install numpy
! pip install scikit-surprise
#Simple Python RecommendatIon System Engine (SURPRISE)
from surprise import Reader, SVD, Dataset
from surprise.model_selection import cross_validate

Requirement already satisfied: numpy in /opt/conda/lib/python3.10/site-packages (1.23.5)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Requirement already satisfied: scikit-surprise in /opt/conda/lib/python3.10/site-packages (1.1.3)
Requirement already satisfied: joblib>=1.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-surprise) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.10/site-packages (from scikit-surprise) (1.23.5)
Requirement already satisfied: scipy>=1.3.2 in /opt/conda/lib/python3.10/site-packages (from scikit-surprise) (1.10.1)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

# ***Cosine Similarity***

In [3]:
def cos_sim(vct_list):
  #vectors
  tfidfvectors= TfidfVectorizer(stop_words='english', ngram_range=(1, 2)) # stop_words='english' ---> remove the extremely common words in english 
                                                                          #like ‘this’, ’is’, ’are’ etc 
  vectors= tfidfvectors.fit_transform(vct_list)

  #cosine similarity  
  cos_sim= cosine_similarity(vectors, vectors)
  cos_sim_df= pd.DataFrame(data=cos_sim)
  
  return cos_sim_df

# ***Content Based Recommendation System***

In [4]:
def cbr_recommender(title, df, cos_sim_df): 
  #title--> rec. syst  ,  df --> smd, cos_sim_df --> temp_smd['feature_classification'], top_n will be from rc. sytem 
  #all of the above will be pass in rec. system
  df2=df.copy()
  df2 = df2.reset_index()
  titles = df2['title']
  indices = pd.Series(df2.index, index=df2['title']) #find index from title

  idx= indices[title]

  sim_scores= list(enumerate(cos_sim_df[idx]))
  sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
  sim_scores = sim_scores[1:26] #removing the first one

  movie_sim_idx=[tup[0] for tup in sim_scores]

  movies_sim= df2.iloc[movie_sim_idx][['id','movieId','title', 'crew','cast', 'genres', 'year','vote_count', 'vote_average']]
  movies_sim['crew']= df2['crew'].apply(lambda x: list(set(x)))
  movies_sim['vote_count']= movies_sim[movies_sim.vote_count.notnull()]['vote_count'].astype('int')
  movies_sim['vote_average']= movies_sim[movies_sim.vote_average.notnull()]['vote_average'].astype('int')
  

  return movies_sim

# ***Collaberative Filtering User Based Recommendation System***

In [5]:
def type_convertor(x):
  try:
    return int(x)

  except:
    return np.nan

In [6]:
def collaberative_filter(userid, dataframe, random_param=40, k_folds=5):
  validation, algo= filtering_model()
  print(validation)
  
  indices=dataframe[['id','title','movieId']].set_index('id')
  
  #return indices
  #print(index_map)
  dataframe['est_ratings']= dataframe['id'].apply(lambda x: algo.predict(uid=userid, iid=indices.loc[x]['movieId']).est)
  
  dataframe=dataframe.sort_values('est_ratings', ascending=False)

  return dataframe

# ***Hybrid Recommendation System***

In [7]:
def hybrid_recommender(userid, hybd_title, hybd_df, hybd_cos_sim_df):
  cbr_recommend= cbr_recommender(title= hybd_title, df= hybd_df, cos_sim_df= hybd_cos_sim_df)
  #return cbr_recommend
  cbf_recommend= collaberative_filter(userid= userid, dataframe= cbr_recommend)

  hybd_recommend= cbf_recommend

  return hybd_recommend

# ***Word Stem Convertor***

In [8]:
def stem_convertor(words_list, word_freq_list=None):
  from nltk.stem.snowball import SnowballStemmer
  stemmer= SnowballStemmer('english')

  if word_freq_list is not None:
    words_list=words_list.apply(lambda x: [stemmer.stem(word) for word in x if word in word_freq_list])
  else:
    words_list=words_list.apply(lambda x: [stemmer.stem(word) for word in x])
  words_list= words_list.apply(lambda x: [word.replace(' ','').lower() for word in x])

  return words_list

# ***Weighted Ratings Based on Watch Performance***

In [9]:
def wr(dataframe, percentile=0.95):
  print(percentile)
  m= dataframe['vote_count'].quantile(percentile) #m is the minimum votes required to be listed in the chart. 
                                                  #Here we are considering 95th percentile as default
  C= dataframe['vote_average'].mean() #C is the mean vote across the whole report
  qualified= dataframe[(dataframe.vote_count >= m) & (dataframe.vote_count.notnull()) & dataframe.vote_average.notnull()]
  v= qualified['vote_count'] #v is the number of votes for the movie
  R= qualified['vote_average'] #R is the average rating of the movie
  
  wr= ((v/(v+m)) * R) + (m/(v+m) * C)
  qualified['wr'] =wr
  
  return qualified.sort_values('wr', ascending=False)

# ***Pre-Processing and Data Wrangling***

In [10]:
def cleaned_data():
  md= pd.read_csv(r'/kaggle/input/the-movies-dataset/movies_metadata.csv')

  #reorganizing the table columns and eliminating 'original_title'
  md=md[['id','imdb_id','title','original_language','spoken_languages','tagline','homepage','genres','overview','belongs_to_collection',
         'adult','budget','status', 'release_date','revenue','runtime','popularity','poster_path','production_companies',
         'production_countries','video','vote_average','vote_count']]
  md.genres=md['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x]) #converting string to python list of genres
  md=md.drop([19730, 29503, 35587])
  md.id=md[md.id.notnull()]['id'].astype('int')
  md.vote_count=md[md.vote_count.notnull()].vote_count.astype('int')
  md.vote_average=md[md.vote_average.notnull()].vote_average.astype('int')
  md['year']=pd.to_datetime(md.release_date, errors='coerce').apply(lambda x: str(x).split('-')[0])

  meta_data= md

  #####################     Top Movies     #####################'
  top= md[['id','title', 'genres', 'year', 'popularity', 'vote_average', 'vote_count']]
  
  top_movies= top

  #####################     Top Genres     #####################
  s = top.apply(lambda x: pd.Series(x['genres']),axis=1).stack().reset_index(level=1, drop=True) #segregating each movies with individual genres
  s.name= 'genres'
  top_genres = top.drop(['genres'], axis=1).join(s)

  #####################     Top Similar Movies ---- Content based Recommender Or Metadata based Recommender     #####################
  links_sml=pd.read_csv(r'/kaggle/input/the-movies-dataset/links_small.csv')
  credits= pd.read_csv(r'/kaggle/input/the-movies-dataset/credits.csv')
  keywords= pd.read_csv(r'/kaggle/input/the-movies-dataset/keywords.csv')

  links_sml.movieId=links_sml.movieId.astype('int')
  links_sml.tmdbId=links_sml[links_sml.tmdbId.notnull()]['tmdbId'].astype('int')
  keywords['id']= keywords.id.astype('int')
  credits['id']= credits.id.astype('int')

  md= md.merge(credits, on='id').merge(keywords, on='id')
  smd= md[md.id.isin(links_sml.tmdbId)] #reducing the no. of records as for compute efficient
  #extracting cast (top 3), crew (only director), and keywords 
  smd['cast']= smd['cast'].apply(literal_eval).apply(lambda x: [cast['name'] for cast in x[:3]])
  smd['crew']= smd['crew'].apply(literal_eval).apply(lambda x: [crew['name'] for crew in x if crew['job']=='Director'])
  smd['keywords']= smd['keywords'].apply(literal_eval).apply(lambda x: [key['name'] for key in x])

  temp_smd=smd.copy()
  temp_smd['crew']=temp_smd['crew'].apply(lambda x: x*4) # NOTE: twiking a bit to give high priority to crew/directors
  #removing white spaces from cast and crew
  temp_smd['cast']=temp_smd['cast'].apply(lambda x: [cast.replace(' ','') for cast in x])
  temp_smd['crew']=temp_smd['crew'].apply(lambda x: [crew.replace(' ','') for crew in x])

  #keywords
  #converting the following to vertical(stack) columns with index as keywords and droping the level 1 i.e column index
  freq = temp_smd.apply(lambda x: pd.Series(x['keywords'], index=x['keywords']), axis=1).stack().reset_index(level=1, drop=True) 
  freq.name='kywrd'
  freq=freq.value_counts() #counting frequency 
  freq=freq[freq>2]  #Removed word occurrence less than 2

  temp_smd['keywords']=stem_convertor(temp_smd['keywords'],freq) #coverting same keywords to single stem

  #concatenation to single classification for vectors
  temp_smd['feature_classification']= temp_smd.crew + temp_smd.cast + temp_smd.keywords + temp_smd.genres 
  temp_smd['feature_classification']= temp_smd.feature_classification.apply(lambda x: ' '.join(x))

  
  #####################     collaberative filter based on user's ratings     #####################
  us_ratings= pd.read_csv(r'/kaggle/input/the-movies-dataset/ratings_small.csv')
  us_ratings.userId=us_ratings.userId.astype('int')
  us_ratings.movieId=us_ratings.movieId.astype('int')


  
  #top movies for users (with no specific content intrest)
  user_top_movies= top[['id','title', 'genres', 'year', 'popularity', 'vote_average', 'vote_count']] # passing through wr func.
  user_top_movies= links_sml.merge(user_top_movies, left_on= 'tmdbId', right_on='id', how='left')

  user_moviesIds=user_top_movies[['id','movieId','title']].set_index('id')
  #print(user_moviesIds)
  
  user_top_movies=user_top_movies[['id','movieId','title', 'genres', 'year','vote_count', 'vote_average']]
  #top movies for users (with specific genre intrest)
  user_top_genres= user_top_movies.drop(['genres'], axis=1).join(s)

  #top movies for users (with specific title intrest)
  user_top_titles=temp_smd[['id','title', 'genres', 'cast', 'crew', 'year', 'popularity', 'vote_average', 'vote_count','feature_classification']]
  user_top_titles['movieId']=user_top_titles['id'].apply(lambda x: user_moviesIds.loc[x].movieId)
  





  return {'metadata': meta_data, 'topmovies':top_movies, 'topgenres':top_genres, 'small_metadata':smd, 
          'feature_df': temp_smd, 'user_ratings':us_ratings, 'user_top_movies':user_top_movies, 'user_top_genres': user_top_genres,
          'user_top_titles': user_top_titles
          }


#cleaned_data()

In [11]:
new_data = cleaned_data()

# ***Model Training***

***Model Used :*** *Singular Value Decomposition (SVD)*

In [12]:
def filtering_model(dataframe=new_data['user_ratings'], random_param=40, k_folds=5):
  data= Dataset.load_from_df(dataframe[['userId', 'movieId', 'rating']], Reader())
  algo= SVD(random_state=random_param)
  validation= cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=k_folds, verbose=True)

  trainset = data.build_full_trainset()
  algo.fit(trainset)
  return [validation, algo]

# ***Final Search Based Recommendation System***

In [13]:
'''
Here, 8 cases resides:
0 ---> Everything is None ---> Top Movies Recommend. System (i.e., qualified movies) ======>>>>> Acheived
1 ---> genre is given & else is None ---> Top genre Based Recommend. System ======>>>>> Acheived
2 ---> title is given & else is None ---> Content Based Rocommend. System (i.e., Metadata based Recommendation) ======>>>>>  Acheived
3 ---> user_id is given & else is None ---> SVD in 0 (i.e., CBF but df will be top_movies us_ratings) ======>>>>>  Acheived
4 ---> user_id & genre given & else is None ---> SVD in 1 (i.e., CBF but df will be top_genres us_ratings)) ======>>>>>  Acheived
5 ---> user_id & title is given & else is None ---> SVD in 2 (i.e., CBF + CBR = Hybrid Recommender) ======>>>>>  Acheived
6 ---> genre & title is given & else is None ---> (1 & 2 ) (i.e., append Recommend_Sys1 to Recommend_Sys1 and pass to CBR ) ======>>>>>  Acheived
7 ---> Evrything is given ---> SVD in (1 & 2) (i.e., ) (i.e., append Recommend_Sys1 to Recommend_Sys1 and pass to CBF ) ======>>>>>  Acheived
'''

def Recommendation_system(user_id=None, movie_genre=None, movie_title= None, top_n= 10, data= new_data):
  
  #<<<<<<<<<  USER LEVEL >>>>>>>>>>
  if user_id is None:
    #<<<<<<<<<  GENRE LEVEL >>>>>>>>>>
    if movie_genre is None: 
      #<<<<<<<<<  MOVIE LEVEL >>>>>>>>>>
      if movie_title is None:
        ####### 0 ---> Everything is None ---> Top Movies Recommend. System (i.e., qualified movies) #######
        recommendation= wr(data['topmovies'])
        recommendation= recommendation[['title', 'genres', 'year', 'vote_average', 'vote_count', 'wr']]

      else:
        ####### 2 ---> title is given & else is None ---> Content Based Rocommend. System (i.e., Metadata based Recommendation) #######
        vct_list= data['user_top_titles']
        dataframe= data['user_top_titles']
        content= cbr_recommender(title= movie_title, df= dataframe, cos_sim_df= cos_sim(vct_list['feature_classification']))

        recommendation= wr(dataframe=content, percentile=0.60)
        recommendation= recommendation[['title', 'genres', 'year', 'vote_average', 'vote_count', 'wr']]

      #<<<<<<<<<  MOVIE LEVEL ENDS >>>>>>>>>>

    else:
      if movie_title is None:
        ####### 1 ---> genre is given & else is None ---> Top genre Based Recommend. System ####### 
        top_genres= data['topgenres'] 
        top_genres=top_genres[top_genres['genres']==movie_genre]
        recommendation= wr(dataframe=top_genres, percentile=0.85)
        recommendation= recommendation[['title', 'genres', 'year', 'vote_average', 'vote_count', 'wr']]

      else:
        ####### 6 ---> genre & title is given & else is None ---> 1 & 2 ####### 
        top_titles= data['user_top_titles']

        top_genres= data['topgenres'] 
        top_genres=top_genres[top_genres['genres']==movie_genre]

        dataframe= top_titles[top_titles.id.isin(top_genres.id)]
        vct_list=dataframe['feature_classification']

        try:
          content= cbr_recommender(title= movie_title, df= dataframe, cos_sim_df= cos_sim(vct_list))

        except:
          content= cbr_recommender(title= movie_title, df= top_titles, cos_sim_df= cos_sim(top_titles['feature_classification']))
        
        recommendation= wr(dataframe=content, percentile=0.50)
        recommendation= recommendation[['title', 'genres', 'year', 'vote_average', 'vote_count', 'wr']]

    #<<<<<<<<<  GENRE LEVEL ENDS  >>>>>>>>>>

  else:
    if movie_genre is None: 
      if movie_title is None:
        ####### 3 ---> user_id is given & else is None ---> SVD in 0 (i.e., CBF but df will be top_movies us_ratings) ####### 
        user_movies=wr(data['user_top_movies'],0.85)
        recommendation= collaberative_filter(userid= user_id, dataframe=user_movies)
        
        recommendation= recommendation[['title', 'genres', 'year', 'vote_average', 'vote_count', 'est_ratings']]
        
      else:
        ####### 5 ---> user_id & title is given & else is None ---> SVD in 2 ####### 
        user_movies=data['user_top_titles']        
        user_vect_list= user_movies['feature_classification']
        recommendation= hybrid_recommender(userid=user_id, hybd_title=movie_title, hybd_df= user_movies, hybd_cos_sim_df= cos_sim(user_vect_list))
        
        recommendation= recommendation[['title', 'genres','year','vote_average', 'vote_count', 'est_ratings']]

    else:
      if movie_title is None:
        ####### 4 ---> user_id & genre given & else is None ---> SVD in 1 ####### 
        top_genres= data['user_top_genres'] 
        top_genres=top_genres[top_genres['genres']==movie_genre]
        genres_df= wr(dataframe=top_genres, percentile=0.60)

        gen_recommendation= collaberative_filter(userid= user_id, dataframe=genres_df)        
        recommendation= gen_recommendation[['title', 'genres', 'year',  'vote_average', 'vote_count', 'est_ratings']].drop_duplicates(['title'], 
                                                                                                                                      keep='last')

      else:
        ####### 7 ---> Evrything is given ---> SVD in 0, 1, 2 ####### 
        top_titles= data['user_top_titles']

        top_genres= data['user_top_genres'] 
        top_genres=top_genres[top_genres['genres']==movie_genre]

        dataframe= top_titles[top_titles.id.isin(top_genres.id)]
        vct_list=dataframe['feature_classification']

        try:
          content= hybrid_recommender(userid=user_id, hybd_title=movie_title, hybd_df= dataframe, hybd_cos_sim_df= cos_sim(vct_list))

        except:
          content= hybrid_recommender(userid=user_id, hybd_title=movie_title, hybd_df= top_titles, 
                                      hybd_cos_sim_df= cos_sim(top_titles['feature_classification']))
        
        
        recommendation= content[['title', 'genres','year','vote_average', 'vote_count', 'est_ratings']]

  #<<<<<<<<<  USER LEVEL ENDS  >>>>>>>>>>



  return recommendation.head(top_n)

#***Testing Recommendation System***

Here, we are **testing** all of our cases with random values and **expecting** Top 15 similar movies from our Recomendation System Based on there ratings

    Search Cases:
*0 ---> Everything is None ---> Top Movies Recommendation System* 

*1 ---> genre is given & else is None ---> Top Genre Based Recommendation System*

*2 ---> title is given & else is None ---> Content Based Recommendation System*

*3 ---> user_id is given & else is None ---> Top Movies Recommendation for New User*

*4 ---> user_id & genre given & else is None ---> Top Movies Recommendation based on User searched Genre* 

*5 ---> user_id & title is given & else is None ---> Top Movies Recommendation based on User searched Movie Title*

*6 ---> genre & title is given & else is None ---> Top Movies Recommendation based on searched Genre and Title* 

*7 ---> Everything is given ---> Top Movies Recommendation based on User searched Genre and Movie Title*

In [14]:
#Everything is None ---> Top Movies Recommendation System
user_op=pd.DataFrame(Recommendation_system(user_id= None, movie_genre= None, movie_title= None, top_n=15)) 
user_op

0.95

,title,genres,year,vote_average,vote_count,wr
15480,Inception,"[Action, Thriller, Science Fiction, Mystery, A...",2010,8.0,14075.0,7.917588
12481,The Dark Knight,"[Drama, Action, Crime, Thriller]",2008,8.0,12269.0,7.905871
22879,Interstellar,"[Adventure, Drama, Science Fiction]",2014,8.0,11187.0,7.897107
2843,Fight Club,[Drama],1999,8.0,9678.0,7.881753
4863,The Lord of the Rings: The Fellowship of the Ring,"[Adventure, Fantasy, Action]",2001,8.0,8892.0,7.871787
292,Pulp Fiction,"[Thriller, Crime]",1994,8.0,8670.0,7.868660
314,The Shawshank Redemption,"[Drama, Crime]",1994,8.0,8358.0,7.864000
7000,The Lord of the Rings: The Return of the King,"[Adventure, Fantasy, Action]",2003,8.0,8226.0,7.861927
351,Forrest Gump,"[Comedy, Drama, Romance]",1994,8.0,8147.0,7.860656
5814,The Lord of the Rings: The Two Towers,"[Adventure, Fantasy, Action]",2002,8.0,7641.0,7.851924
256,Star Wars,"[Adventure, Action, Science Fiction]",1977,8.0,6778.0,7.834205
1225,Back to the Future,"[Adventure, Comedy, Science Fiction, Family]",1985,8.0,6239.0,7.820813
834,The Godfather,"[Drama, Crime]",1972,8.0,6024.0,7.814847
1154,The Empire Strikes Back,"[Adventure, Action, Science Fiction]",1980,8.0,5998.0,7.814099
46,Se7en,"[Crime, Mystery, Thriller]",1995,8.0,5915.0,7.811669

In [15]:
#Genre is given & else is None ---> Top Genre Based Recommendation System
user_op=pd.DataFrame(Recommendation_system(user_id= None, movie_genre= 'Fantasy', movie_title= None, top_n=15)) 
user_op

0.85

,title,genres,year,vote_average,vote_count,wr
4863,The Lord of the Rings: The Fellowship of the Ring,Fantasy,2001,8.0,8892.0,7.888126
7000,The Lord of the Rings: The Return of the King,Fantasy,2003,8.0,8226.0,7.879484
5814,The Lord of the Rings: The Two Towers,Fantasy,2002,8.0,7641.0,7.870711
3030,The Green Mile,Fantasy,1999,8.0,4166.0,7.772216
5481,Spirited Away,Fantasy,2001,8.0,3968.0,7.761880
9698,Howl's Moving Castle,Fantasy,2004,8.0,2049.0,7.574941
2884,Princess Mononoke,Fantasy,1997,8.0,2041.0,7.573545
5833,My Neighbor Totoro,Fantasy,1988,8.0,1730.0,7.511144
926,It's a Wonderful Life,Fantasy,1946,8.0,1103.0,7.306584
14551,Avatar,Fantasy,2009,7.0,12114.0,6.948550
19971,The Hobbit: An Unexpected Journey,Fantasy,2012,7.0,8427.0,6.927048
26555,Star Wars: The Force Awakens,Fantasy,2015,7.0,7993.0,6.923273
6390,Pirates of the Caribbean: The Curse of the Bla...,Fantasy,2003,7.0,7191.0,6.915162
4766,Harry Potter and the Philosopher's Stone,Fantasy,2001,7.0,7188.0,6.915128
2576,The Legend of 1900,Fantasy,1998,8.0,554.0,6.905609

In [16]:
#Title is given & else is None ---> Content Based Recommendation System
user_op=pd.DataFrame(Recommendation_system(user_id= None, movie_genre= None, movie_title= 'Avatar', top_n=15)) 
user_op

0.6

,title,genres,year,vote_average,vote_count,wr
8865,Star Wars: The Force Awakens,"[Action, Adventure, Science Fiction, Fantasy]",2015,7,7993,6.822522
1376,Titanic,"[Drama, Romance, Thriller]",1997,7,7770,6.818710
987,Alien,"[Horror, Action, Thriller, Science Fiction]",1979,7,4564,6.737748
8401,Star Trek Into Darkness,"[Action, Adventure, Science Fiction]",2013,7,4479,6.734605
522,Terminator 2: Judgment Day,"[Action, Thriller, Science Fiction]",1991,7,4274,6.726708
1011,The Terminator,"[Action, Thriller, Science Fiction]",1984,7,4208,6.724064
1241,The Fifth Element,"[Adventure, Fantasy, Action, Thriller, Science...",1997,7,3962,6.713743
974,Aliens,"[Horror, Action, Thriller, Science Fiction]",1986,7,3282,6.680733
8521,Thor: The Dark World,"[Action, Adventure, Fantasy]",2013,6,4873,6.097778
7878,Pirates of the Caribbean: On Stranger Tides,"[Adventure, Action, Fantasy]",2011,6,5068,6.095297

In [17]:
#user_id is given & else is None ---> Top Movies Recommendation for New User
user_op=pd.DataFrame(Recommendation_system(user_id= 437, movie_genre= None, movie_title= None, top_n=15)) 
user_op

0.85
Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8909  0.9017  0.8905  0.8948  0.8982  0.8952  0.0043
MAE (testset)     0.6843  0.6913  0.6866  0.6899  0.6918  0.6888  0.0029
Fit time          1.51    1.49    1.55    1.49    1.58    1.52    0.03
Test time         0.43    0.22    0.22    0.22    0.22    0.26    0.08
{'test_rmse': array([0.8908874 , 0.90167955, 0.89047988, 0.89478195, 0.89817295]), 'test_mae': array([0.68431277, 0.69126342, 0.68660503, 0.68993365, 0.69176521]), 'fit_time': (1.5064833164215088, 1.4892692565917969, 1.5489306449890137, 1.492690086364746, 1.575974702835083), 'test_time': (0.4267458915710449, 0.21622228622436523, 0.22335171699523926, 0.2151930332183838, 0.21846628189086914)}

,title,genres,year,vote_average,vote_count,est_ratings
525,The Silence of the Lambs,"[Crime, Drama, Thriller]",1991,8.0,4549.0,4.567696
48,The Usual Suspects,"[Drama, Crime, Thriller]",1995,8.0,3334.0,4.567460
101,Taxi Driver,"[Crime, Drama]",1976,8.0,2632.0,4.508224
696,The Godfather,"[Drama, Crime]",1972,8.0,6024.0,4.478932
284,The Shawshank Redemption,"[Drama, Crime]",1994,8.0,8358.0,4.456483
472,Schindler's List,"[Drama, History, War]",1993,8.0,4436.0,4.452140
266,Pulp Fiction,"[Thriller, Crime]",1994,8.0,8670.0,4.450789
978,Psycho,"[Drama, Horror, Thriller]",1960,8.0,2405.0,4.437119
987,Raging Bull,[Drama],1980,7.0,968.0,4.417649
1009,Chinatown,"[Crime, Drama, Mystery, Thriller]",1974,7.0,939.0,4.393129
3875,The Lord of the Rings: The Fellowship of the Ring,"[Adventure, Fantasy, Action]",2001,8.0,8892.0,4.382665
4439,City of God,"[Drama, Crime]",2002,8.0,1852.0,4.365159
7855,Harry Potter and the Deathly Hallows: Part 2,"[Family, Fantasy, Adventure]",2011,7.0,6141.0,4.352758
2377,Fight Club,[Drama],1999,8.0,9678.0,4.343555
731,North by Northwest,"[Mystery, Thriller]",1959,7.0,1062.0,4.339755

In [18]:
#user_id & genre given & else is None ---> Top Movies Recommendation based on User searched Genre
user_op=pd.DataFrame(Recommendation_system(user_id= 437, movie_genre= 'Crime', movie_title= None, top_n=15)) 
user_op

0.6
Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8992  0.8935  0.8909  0.9030  0.9026  0.8978  0.0049
MAE (testset)     0.6929  0.6910  0.6863  0.6963  0.6927  0.6918  0.0032
Fit time          1.47    1.54    1.52    1.52    1.52    1.51    0.02
Test time         0.21    0.22    0.22    0.44    0.22    0.26    0.09
{'test_rmse': array([0.89918401, 0.89348831, 0.8909012 , 0.90299947, 0.90256232]), 'test_mae': array([0.69289577, 0.6909756 , 0.68631682, 0.69627078, 0.69269305]), 'fit_time': (1.468271017074585, 1.5381801128387451, 1.5219311714172363, 1.5249519348144531, 1.5157275199890137), 'test_time': (0.21462059020996094, 0.21649169921875, 0.21958065032958984, 0.4442436695098877, 0.21524262428283691)}

,title,genres,year,vote_average,vote_count,est_ratings
284,The Shawshank Redemption,Crime,1994,8.0,8358.0,4.456483
971,The Third Man,Crime,1949,7.0,431.0,4.369547
2377,Fight Club,Crime,1999,8.0,9678.0,4.343555
728,It Happened One Night,Crime,1934,7.0,283.0,4.286026
4617,Finding Nemo,Crime,2003,7.0,6292.0,4.264072
4816,All the President's Men,Crime,1976,7.0,424.0,4.199633
1693,Who's Afraid of Virginia Woolf?,Crime,1966,7.0,199.0,4.182275
8735,The Imitation Game,Crime,2014,8.0,5895.0,4.177078
967,Apocalypse Now,Crime,1979,8.0,2112.0,4.164218
8477,The Wolf of Wall Street,Crime,2013,7.0,6768.0,4.154510
969,Return of the Jedi,Crime,1983,7.0,4763.0,4.139991
15,Casino,Crime,1995,7.0,1343.0,4.131898
485,Blade Runner,Crime,1982,7.0,3833.0,4.113947
3377,Amores perros,Crime,2000,7.0,537.0,4.102671
423,In the Name of the Father,Crime,1993,7.0,363.0,4.087510

In [19]:
#user_id & title is given & else is None ---> Top Movies Recommendation based on User searched Movie Title
user_op=pd.DataFrame(Recommendation_system(user_id= 437, movie_genre= None, movie_title= 'Avatar', top_n=15)) 
user_op

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8994  0.8869  0.9055  0.8938  0.9027  0.8977  0.0067
MAE (testset)     0.6955  0.6803  0.6969  0.6894  0.6948  0.6914  0.0061
Fit time          1.52    1.54    1.54    1.54    1.54    1.54    0.01
Test time         0.22    0.22    0.43    0.22    0.22    0.26    0.08
{'test_rmse': array([0.89938825, 0.88689472, 0.90549077, 0.89375897, 0.90273197]), 'test_mae': array([0.69552887, 0.68029602, 0.69690808, 0.68943546, 0.69476922]), 'fit_time': (1.519754409790039, 1.5425069332122803, 1.5405762195587158, 1.5401875972747803, 1.5434393882751465), 'test_time': (0.21956276893615723, 0.21655678749084473, 0.4303309917449951, 0.22434449195861816, 0.21841979026794434)}

,title,genres,year,vote_average,vote_count,est_ratings
522,Terminator 2: Judgment Day,"[Action, Thriller, Science Fiction]",1991,7,4274,4.248028
1011,The Terminator,"[Action, Thriller, Science Fiction]",1984,7,4208,4.127063
987,Alien,"[Horror, Action, Thriller, Science Fiction]",1979,7,4564,4.104533
974,Aliens,"[Horror, Action, Thriller, Science Fiction]",1986,7,3282,3.920539
8231,Side by Side,[Documentary],2012,7,111,3.871174
2014,Fantastic Planet,"[Animation, Fantasy, Science Fiction]",1973,7,140,3.843639
5301,Cypher,"[Thriller, Science Fiction, Mystery]",2002,6,196,3.710854
8401,Star Trek Into Darkness,"[Action, Adventure, Science Fiction]",2013,7,4479,3.699559
344,True Lies,"[Action, Thriller]",1994,6,1138,3.687984
922,The Abyss,"[Adventure, Action, Thriller, Science Fiction]",1989,7,822,3.637243
8521,Thor: The Dark World,"[Action, Adventure, Fantasy]",2013,6,4873,3.636348
8865,Star Wars: The Force Awakens,"[Action, Adventure, Science Fiction, Fantasy]",2015,7,7993,3.619931
5292,Babylon 5: A Call to Arms,"[Action, Drama, Science Fiction, Adventure]",1999,6,36,3.572731
907,A Christmas Carol,"[Fantasy, Drama, Family]",1938,7,34,3.570350
1241,The Fifth Element,"[Adventure, Fantasy, Action, Thriller, Science...",1997,7,3962,3.545975

In [20]:
#genre & title is given & else is None ---> Top Movies Recommendation based on searched Genre and Title
user_op=pd.DataFrame(Recommendation_system(user_id= None, movie_genre= 'Fantasy', movie_title= 'Avatar', top_n=15)) 
user_op

0.5

,title,genres,year,vote_average,vote_count,wr
741,Star Wars: The Force Awakens,"[Action, Adventure, Science Fiction, Fantasy]",2015,7,7993,6.904520
737,The Hobbit: The Battle of the Five Armies,"[Action, Adventure, Fantasy]",2014,7,4884,6.852368
104,The Fifth Element,"[Adventure, Fantasy, Action, Thriller, Science...",1997,7,3962,6.823832
370,Treasure Planet,"[Adventure, Animation, Family, Fantasy, Scienc...",2002,7,980,6.530022
705,Man of Steel,"[Action, Adventure, Fantasy, Science Fiction]",2013,6,6462,5.995554
663,Pirates of the Caribbean: On Stranger Tides,"[Adventure, Action, Fantasy]",2011,6,5068,5.994500
714,Thor: The Dark World,"[Action, Adventure, Fantasy]",2013,6,4873,5.994311
748,Home,"[Fantasy, Comedy, Animation, Science Fiction, ...",2015,6,1539,5.986229
598,Underworld: Rise of the Lycans,"[Fantasy, Action, Adventure, Science Fiction, ...",2009,6,1447,5.985667
512,Zathura: A Space Adventure,"[Family, Fantasy, Science Fiction, Adventure]",2005,6,808,5.980000
681,Abraham Lincoln: Vampire Hunter,"[Action, Fantasy, Horror]",2012,5,1297,5.368494
632,Clash of the Titans,"[Adventure, Fantasy, Action]",2010,5,2280,5.251192
727,Jupiter Ascending,"[Science Fiction, Fantasy, Action, Adventure]",2015,5,2816,5.214040

In [21]:
#genre & title is given & else is None ---> Top Movies Recommendation based on searched Genre and Title (If Title Don't have searched Genre)
user_op=pd.DataFrame(Recommendation_system(user_id= None, movie_genre= 'Crime', movie_title= 'Avatar', top_n=15)) 
user_op

0.5

,title,genres,year,vote_average,vote_count,wr
8865,Star Wars: The Force Awakens,"[Action, Adventure, Science Fiction, Fantasy]",2015,7,7993,6.883752
1376,Titanic,"[Drama, Romance, Thriller]",1997,7,7770,6.880967
987,Alien,"[Horror, Action, Thriller, Science Fiction]",1979,7,4564,6.818437
8401,Star Trek Into Darkness,"[Action, Adventure, Science Fiction]",2013,7,4479,6.815872
522,Terminator 2: Judgment Day,"[Action, Thriller, Science Fiction]",1991,7,4274,6.809379
1011,The Terminator,"[Action, Thriller, Science Fiction]",1984,7,4208,6.807190
1241,The Fifth Element,"[Adventure, Fantasy, Action, Thriller, Science...",1997,7,3962,6.798568
974,Aliens,"[Horror, Action, Thriller, Science Fiction]",1986,7,3282,6.770156
8934,Home,"[Fantasy, Comedy, Animation, Science Fiction, ...",2015,6,1539,6.140000
1082,Alien³,"[Science Fiction, Action, Horror]",1992,6,1664,6.134536
8096,John Carter,"[Action, Adventure, Science Fiction]",2012,6,2170,6.116182
8521,Thor: The Dark World,"[Action, Adventure, Fantasy]",2013,6,4873,6.067205
7878,Pirates of the Caribbean: On Stranger Tides,"[Adventure, Action, Fantasy]",2011,6,5068,6.065222

In [22]:
#Everything is given ---> Top Movies Recommendation based on User searched Genre and Movie Title
user_op=pd.DataFrame(Recommendation_system(user_id= 437, movie_genre= 'Fantasy', movie_title= 'Avatar', top_n=15)) 
user_op

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8883  0.8997  0.8989  0.9003  0.8968  0.8968  0.0044
MAE (testset)     0.6849  0.6929  0.6928  0.6931  0.6908  0.6909  0.0031
Fit time          1.50    1.60    1.56    1.61    1.61    1.58    0.04
Test time         0.23    0.22    0.22    0.22    0.23    0.22    0.00
{'test_rmse': array([0.88828533, 0.89973796, 0.89888689, 0.90033785, 0.89679861]), 'test_mae': array([0.68492357, 0.69294225, 0.69280091, 0.69311853, 0.69076444]), 'fit_time': (1.501451015472412, 1.5956683158874512, 1.5629870891571045, 1.614450454711914, 1.6070289611816406), 'test_time': (0.2263634204864502, 0.2194061279296875, 0.2188868522644043, 0.22304463386535645, 0.2297835350036621)}

,title,genres,year,vote_average,vote_count,est_ratings
522,Terminator 2: Judgment Day,"[Action, Thriller, Science Fiction]",1991,7,4274,4.248028
1011,The Terminator,"[Action, Thriller, Science Fiction]",1984,7,4208,4.127063
987,Alien,"[Horror, Action, Thriller, Science Fiction]",1979,7,4564,4.104533
974,Aliens,"[Horror, Action, Thriller, Science Fiction]",1986,7,3282,3.920539
8231,Side by Side,[Documentary],2012,7,111,3.871174
2014,Fantastic Planet,"[Animation, Fantasy, Science Fiction]",1973,7,140,3.843639
5301,Cypher,"[Thriller, Science Fiction, Mystery]",2002,6,196,3.710854
8401,Star Trek Into Darkness,"[Action, Adventure, Science Fiction]",2013,7,4479,3.699559
344,True Lies,"[Action, Thriller]",1994,6,1138,3.687984
922,The Abyss,"[Adventure, Action, Thriller, Science Fiction]",1989,7,822,3.637243
8521,Thor: The Dark World,"[Action, Adventure, Fantasy]",2013,6,4873,3.636348
8865,Star Wars: The Force Awakens,"[Action, Adventure, Science Fiction, Fantasy]",2015,7,7993,3.619931
5292,Babylon 5: A Call to Arms,"[Action, Drama, Science Fiction, Adventure]",1999,6,36,3.572731
907,A Christmas Carol,"[Fantasy, Drama, Family]",1938,7,34,3.570350
1241,The Fifth Element,"[Adventure, Fantasy, Action, Thriller, Science...",1997,7,3962,3.545975

In [23]:
#Everything is given ---> Top Movies Recommendation based on User searched Genre and Movie Title (If Title Don't have searched Genre)
user_op=pd.DataFrame(Recommendation_system(user_id= 437, movie_genre= 'Crime', movie_title= 'Avatar', top_n=15)) 
user_op

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8940  0.8968  0.8975  0.8935  0.9041  0.8972  0.0038
MAE (testset)     0.6873  0.6909  0.6928  0.6889  0.6930  0.6906  0.0022
Fit time          1.49    1.55    1.56    1.55    1.55    1.54    0.03
Test time         0.22    0.22    0.22    0.22    0.21    0.22    0.00
{'test_rmse': array([0.89403524, 0.8968078 , 0.89750922, 0.89349399, 0.90407889]), 'test_mae': array([0.68734055, 0.69093994, 0.69280953, 0.68892748, 0.69300432]), 'fit_time': (1.491689920425415, 1.550318956375122, 1.561964511871338, 1.5491340160369873, 1.5517783164978027), 'test_time': (0.21886968612670898, 0.2233264446258545, 0.21932268142700195, 0.2177579402923584, 0.21440458297729492)}

,title,genres,year,vote_average,vote_count,est_ratings
522,Terminator 2: Judgment Day,"[Action, Thriller, Science Fiction]",1991,7,4274,4.248028
1011,The Terminator,"[Action, Thriller, Science Fiction]",1984,7,4208,4.127063
987,Alien,"[Horror, Action, Thriller, Science Fiction]",1979,7,4564,4.104533
974,Aliens,"[Horror, Action, Thriller, Science Fiction]",1986,7,3282,3.920539
8231,Side by Side,[Documentary],2012,7,111,3.871174
2014,Fantastic Planet,"[Animation, Fantasy, Science Fiction]",1973,7,140,3.843639
5301,Cypher,"[Thriller, Science Fiction, Mystery]",2002,6,196,3.710854
8401,Star Trek Into Darkness,"[Action, Adventure, Science Fiction]",2013,7,4479,3.699559
344,True Lies,"[Action, Thriller]",1994,6,1138,3.687984
922,The Abyss,"[Adventure, Action, Thriller, Science Fiction]",1989,7,822,3.637243
8521,Thor: The Dark World,"[Action, Adventure, Fantasy]",2013,6,4873,3.636348
8865,Star Wars: The Force Awakens,"[Action, Adventure, Science Fiction, Fantasy]",2015,7,7993,3.619931
5292,Babylon 5: A Call to Arms,"[Action, Drama, Science Fiction, Adventure]",1999,6,36,3.572731
907,A Christmas Carol,"[Fantasy, Drama, Family]",1938,7,34,3.570350
1241,The Fifth Element,"[Adventure, Fantasy, Action, Thriller, Science...",1997,7,3962,3.545975